<?xml version="1.0" encoding="utf-8"?>
<manifest package="pl.klamborowski.catamor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".CatAmorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d4fec3051a8ef46e4840766b131aa2f1bba4812"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <activity
            android:name=".section.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".section.home.HomeActivity"
            android:screenOrientation="portrait"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>